:root {
	--c-blue: #8eacff;
	--c-black: #000;
	--c-white: #fff;
	--c-revolver: #2d1c3f;
	--c-cinder: #161020;
	--c-tradewind: #64bca4;

	--t-default: 0.2s;

	--c-app-bg: var(--c-cinder);
	--c-app-txt: var(--c-white);

	--c-btn-hover: #332048;
}

* {
	box-sizing: border-box;
}

body {
	background: var(--c-app-bg);
	color: var(--c-app-txt);
	text-align: center;
}

.app-container {
	display: flex;
	align-items: center;
	justify-content: center;
}

.app {
	max-width: 300px;
	padding: 64px 0 55px;
}
